<section class="features">
  <header tabindex="19" class="features__header">
    <p tabindex="20" class="features__keyword">The Doo Workflow</p>
    <h2 tabindex="21" class="features__subtitle">A simple way to build better habits and get things done</h2>
  </header>
  <div class="features__wrapper">
    <article tabindex="22" class="features__card">
      <p tabindex="23" class="features__card__text">Clean the bathroom<span class="features__card__cursor"></span></p>
    </article>
    <article tabindex="24" class="features__card">
      <div tabindex="25" class="features__grid">
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
        <div class="features__grid-item"></div>
      </div>
    </article>
    <article tabindex="26" class="features__card">
      <picture>
        <img src="check-icon.svg" alt="check icon" srcset="">
      </picture>
    </article>
    <p tabindex="27" class="features__footer">Create tasks with a single step and a clear goal</p>
    <p tabindex="28" class="features__footer">Pick a few tasks each day and snooze the rest</p>
    <p tabindex="29" class="features__footer">Complete your daily tasks for big progress over time</p>
  </div>
  <app-divider/>
  <header class="features__header">
    <p tabindex="30" class="features__keyword">Gestures</p>
    <h2 tabindex="31" class="features__subtitle">Swipe your way to success</h2>
    <p tabindex="32" class="features__description">Gestures transform your entire screen into a button. Select your tasks for the day and enjoy flicking them off your todo list. Without even having to look.</p>
  </header>
  <div class="features__images__wrapper">
    <picture class="features__images__item">
      <img tabindex="33" src="doo_gestures_01@2x.jpg" alt="Doo gestures features" srcset=""></picture>
    <picture class="features__images__item">
      <img tabindex="34" src="doo_gestures_02@2x.png" alt="Doo gestures features" srcset=""></picture>
  </div>
  <app-divider/>
  <header class="features__header">
    <p tabindex="35" class="features__keyword">Task Creation</p>
    <h2 tabindex="36" class="features__subtitle">Made for speed</h2>
    <p tabindex="37" class="features__description">Doo uses a set of custom keyboards to keep controls within reach. Create one-off tasks or future appointments with ease. No interruption. No fuss.</p>
  </header>
  <div class="features__images__wrapper--stairs">
    <picture>
      <img tabindex="38" src="iphone_frame@2x.png" alt="Doo app example task creation" srcset=""></picture>
    <picture>
      <img tabindex="39" src="iphone_frame@2x.png" alt="Doo app example task creation" srcset=""></picture>
    <picture>
      <img tabindex="40" src="iphone_frame@2x.png" alt="Doo app example task creation" srcset=""></picture>
  </div>
  <app-divider/>
  <header class="features__header">
    <p tabindex="41" class="features__keyword">Sharing</p>
    <h2 tabindex="42" class="features__subtitle">Collaborate in style</h2>
    <p tabindex="43" class="features__description">Send grocery lists, chores, and other tasks to others with iMessage. Edits made by one person get sent to everyone so you can keep track of progress. Don’t forget the milk!.</p>
  </header>
  <div class="features__images__wrapper features__images__wrapper--single">
    <picture>
      <img tabindex="44" src="doo_collaboration_sharing@2x.jpg" alt="Doo app collaboration example" srcset="">
    </picture>
  </div>
  <app-divider/>
  <header class="features__header">
    <p tabindex="45" class="features__keyword">Customization</p>
    <h2 tabindex="46" class="features__subtitle">Adapts to how you work</h2>
    <p  tabindex="47" class="features__description">Manage reminder notifications at the task level. Turn off notifications for date-based tasks, enable time zones, and repeat tasks from their completion date.</p>
  </header>
  <div class="features__images__wrapper features__images__wrapper--single">
    <picture>
      <img tabindex="48" src="doo_reminder_options_customization@2x.jpg" alt="Doo app customization example" srcset="">
    </picture>
  </div>
  <app-divider/>
  <header class="features__header">
    <p tabindex="49" class="features__keyword">Apple Watch</p>
    <h2 tabindex="50" class="features__subtitle">See what’s next</h2>
    <p tabindex="51" class="features__description">Manage tasks from the Apple Watch app or review from your watch face. Two complication options highlight what’s upcoming or your last due item.</p>
  </header>
  <div class="features__images__wrapper features__images__wrapper--carrousel">
    <picture>
      <img tabindex="52" src="doo_apple_watch_complications@2x.jpg" alt="Doo app running on apple watch" srcset="">
    </picture>
  </div>
  <app-divider/>
  <header class="features__header">
    <p tabindex="53" class="features__keyword">Private by design</p>
    <h2 tabindex="54" class="features__subtitle">Keeps your data private</h2>
    <p tabindex="55" class="features__description">No accounts. No trackers, no ads, and no personal data collection. Ever. Your data stays on your device and within your private iCloud account. Simple — the way it should be.</p>
  </header>
  <div class="features__images__wrapper--comparator">
    <picture>
      <img tabindex="56" src="lock_icon@2x.jpg" alt="lock icon" srcset="">
    </picture>
    <picture>
      <img tabindex="57" src="doo_app_lock@2x.jpg" alt="Lock by face id" srcset="">
    </picture>
  </div>
  <app-divider/>
  <section class="features__summary">
    <article class="features__summary__item">
      <header class="features__summary__header">
        <h2 tabindex="58" class="features__summary__subtitle">Big on features. Deceptively simple.</h2>
        <a tabindex="59" class="link" href="http://getdooapp.com/features">View all features</a>
      </header>
    </article>
    <article class="features__summary__item">
      <menu class="features__summary__menu">
        <li class="features__summary__menu__item">
          <i aria-hidden="true">
            <img tabindex="60" src="doo_feature_icon_1.svg" alt="Doo features icon ask siri" srcset="">
          </i>
          <section>
            <h4 tabindex="61">Ask Siri</h4>
            <p tabindex="62">Use Siri to create tasks, a new list, or mark items completed.</p>
          </section>
        </li>
        <li class="features__summary__menu__item">
          <i aria-hidden="true">
            <img tabindex="63" src="doo_feature_icon_2.svg" alt="Doo features icon lock screen" srcset="">
          </i>
          <section>
            <h4 tabindex="64">Home Screen & Lock Screen widgets</h4>
            <p tabindex="65">Keep tabs on upcoming or due reminders with small, medium, and large widgets.</p>
          </section>
        </li>
        <li class="features__summary__menu__item">
          <i aria-hidden="true">
            <img tabindex="66" src="doo_feature_icon_3.svg" alt="Doo features icon icloud and backup" srcset="">
          </i>
          <section>
            <h4 tabindex="67">iCloud Backup & Sync</h4>
            <p tabindex="68">Using your Apple ID to sync tasks between your iOS and Mac devices.</p>
          </section>
        </li>
        <li class="features__summary__menu__item">
          <i aria-hidden="true">
            <img src="doo_feature_icon_4.svg" alt="Doo features icon ipad support" srcset="">
          </i>
          <section>
            <h4 tabindex="69">iPad Support</h4>
            <p tabindex="70">Full iPad support including multitasking with Split View and Slide Over</p>
          </section>
        </li>
        <li class="features__summary__menu__item">
          <i aria-hidden="true">
            <img tabindex="71" src="doo_feature_icon_5.svg" alt="Doo features icon accessibility" srcset="">
          </i>
          <section>
            <h4 tabindex="72">Accessibility</h4>
            <p tabindex="73">Dynamic Type and VoiceOver support create a more universal experience for all.</p>
          </section>
        </li>
      </menu>
    </article>
  </section>
    <app-divider/>
    <app-footer/>
  </section>
