
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir Next, sans-serif;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  padding-inline: 4.5rem;
  background-color: #fff;
}
