<nav [class]="isFooterMenu ? 'nav__footer' : 'nav'">
  <div class="nav__wrapper">
    <li class="nav__item">
      <a class="nav__link" href="https://getdooapp.com/">
        <picture>
          <img src="Doo-Logo.svg" alt="Doo Get Things Done" srcset="">
        </picture>
      </a>
    </li>
  </div>
  <menu class="nav__wrapper">
    @for (link of menuItems; track $index) {
    @if(!isFooterMenu){
    <li class="nav__item">
      <a [attr.aria-details]="link.aria" [class]="link.classes" [href]="link.url">{{link.title}}</a>
    </li>
    }@else if(link.showInFooter){
    <li class="nav__item nav__item--footer">
      <a [attr.aria-details]="link.aria" class="nav__link--footer" [href]="link.url">{{link.title}}</a>
    </li>
   }
  }
  </menu>
</nav>
@if(isFooterMenu){
<h4>Made with love in NYC. © 2016 - 2022 Ciarlo Software, LLC</h4>
}
